[Connection]
Host: localhost
Port: 3333
Database: main
User: username

[Schema]
BaseFolder: C:\Users\<USERNAME>\Documents\schemas
Pattern: [DB]/[SCHEMA].sql

[Preferences]
IgnoreNoFile:True
IgnoreNotInDatabase:False